{{ define "title" }}Reset Password{{ end }}
{{ define "head" }}
{{ end }}
{{ define "content" }}

    <form class="form-horizontal" id="form1" method="post" action="/password/reset">
      <input type="hidden" name="rt" value="{{ .token }}">
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10 col-md-8">
          <input type="text" class="form-control" name="username" id="username" placeholder="Username" required autofocus>
        </div>
      </div>
      <div class="form-group" id="pwd-container">
        <label for="password" class="col-sm-2 control-label">New Password</label>
        <div class="col-sm-10 col-md-8">
          <input type="password" class="form-control" name="password" id="password" placeholder="New Password" required>
          <div class="pwstrength_viewport_progress"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="passwordConfirm" class="col-sm-2 control-label">New Password Confirm</label>
        <div class="col-sm-10 col-md-8">
          <input type="password" class="form-control" name="password_confirm" id="passwordConfirm" placeholder="New Password" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-md-8">

        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>

  </div>

{{ end }}

{{ define "tail" }}
  <script type="text/javascript">
      jQuery(document).ready(function () {
          "use strict";
          var options = {};
          options.ui = {
              container: "#pwd-container",
              verdicts: [
                  "<span class='fa fa-exclamation-triangle'></span> Weak",
                  "<span class='fa fa-exclamation-triangle'></span> Normal",
                  "Medium",
                  "<span class='fa fa-thumbs-up'></span> Strong",
                  "<span class='fa fa-thumbs-up'></span> Very Strong"],
              showVerdictsInsideProgressBar: true,
              viewports: {
                  progress: ".pwstrength_viewport_progress"
              }
          };
          options.common = {
              debug: true,
              onLoad: function () {
                  $('#messages').text('Start typing password');
              }
          };

          $('#password').pwstrength(options);

        $('#form1')
        .bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The username is required and can\'t be empty'
                        },
                        stringLength: {
                            min: 4,
                            max: 30,
                            message: 'The username must be more than 4 and less than 30 characters long'
                        },
                        /*remote: {
                            url: 'remote.php',
                            message: 'The username is not available'
                        },*/
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        },
                        callback: {
                          callback: function(value, validator) {return true;}
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required and can\'t be empty'
                        },
                        stringLength: {
                            min: 8,
                            max: 30,
                            message: 'The password must be more than 8 and less than 30 characters long'
                        },
                        callback: {
                          callback: function(value, validator) {return true;}
                        }
                    }
                },
                password_confirm: {
                    validators: {
                        notEmpty: {
                            message: 'The confirm password is required and can\'t be empty'
                        },
                        callback: {
                          callback: function(value, validator) {return true;}
                        },
                        identical: {
                            field: 'password',
                            message: 'Please enter a identical password'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(res) {
                // console.log(res);
                if (!!res.ok) {
                  Dust.alert('修改成功', 'OK', function(){
                    bv.resetForm(true);
                    // $("#form1").get(0).reset();
                    location.href = '/login';
                  });
                } else if (typeof res.error != "undefined") {
                  var error = res.error
                  if (typeof error.field === "string") {
                    bv.updateMessage(error.field, 'callback', error.message);
                    bv.updateStatus(error.field, bv.STATUS_INVALID, 'callback');
                    // Dust.alert(error.message);
                  }
                } else {
                  alertAjaxResult(res);
                }
            }, 'json');
            console.log(bv)
        });

      });
  </script>
{{ end }}
