{{ define "title" }}Profile{{ end }}
{{ define "head" }}
{{ end }}
{{ define "content" }}

  <form class="form-horizontal" id="form1" method="post" action="/profile" autocomplete="off">

    <div class="form-group">
        <label class="col-xs-3 control-label">Login</label>
        <div class="col-xs-5">
            <input type="hidden" name="uid" value="{{ .staff.Uid }}">
            {{ .staff.Uid }} ({{ .staff.EmployeeNumber }})
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Common name</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="cn" value="{{ .staff.CommonName }}" placeholder="姓名" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Nickname</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="nickname" value="{{ .staff.Nickname }}" placeholder="Nickname" required />
        </div>
    </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">English name</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" name="gn" placeholder="Given name" value="{{ .staff.GivenName }}" required />
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" name="sn" placeholder="Surname" value="{{ .staff.Surname }}" required />
        </div>
      </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Email address</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="email" value="{{ .staff.Email }}" required autocomplete="off" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Mobile number</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="mobile" value="{{ .staff.Mobile }}" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Gender</label>
        <div class="col-xs-6">
            <label class="radio-inline">
              <input type="radio" name="gender" id="gender-male" value="1"> Male
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" id="gender-female" value="2"> Female
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" id="gender-unknown" value="0"> Unknown
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Date of birth</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="birthday" value="{{ .staff.Birthday }}" placeholder="Date of birth, yyyymmdd" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Description</label>
        <div class="col-xs-6">
            <textarea name="description" class="form-control" rows="3">{{ .staff.Description }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Password</label>
        <div class="col-xs-6">
            <input id="password" name="password" type="password" class="form-control" value="" required autocomplete="off" >
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-9 col-xs-offset-3">
            <button type="submit" class="btn btn-primary"> Save </button>
        </div>
    </div>

  </form>

{{ end }}
{{ define "tail" }}
  <script type="text/javascript">
      jQuery(document).ready(function () {
        $('#gender-{{.staff.Gender}}').attr('checked', true);
        $('#form1')
        .bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required and can\'t be empty'
                        },
                        callback: {
                          callback: function(value, validator) {return true;}
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(res) {
                // console.log(res);
                if (!!res.ok) {
                  Dust.alert('修改成功', 'OK', function(){
                    // bv.resetForm(true);
                    $("#password").val("")
                    // $("#form1").get(0).reset();
                  });
                } else if (typeof res.error != "undefined") {
                  var error = res.error
                  if (typeof error.field === "string") {
                    bv.updateMessage(error.field, 'callback', error.message);
                    bv.updateStatus(error.field, bv.STATUS_INVALID, 'callback');
                    // Dust.alert(error.message);
                  }
                } else {
                  alertAjaxResult(res);
                }
            }, 'json');
            console.log(bv)
        });

      });
  </script>
{{ end }}
