@import "bootstrap.css"
// @import "bootstrap-select.css"
@import "bootstrapValidator.css"
@import "bootstrap-editable.css"
@import "dataTables.bootstrap.css"
$fa-font-path = "../fonts"
@import "font-awesome-stylus";

td > img.avatar {
max-height: 30px;
border-radius: 5px;
}
