@import "bootstrap.css"
// @import "bootstrap-select.css"
@import "bootstrapValidator.css"
@import "bootstrap-editable.css"
@import "dataTables.bootstrap.css"
$fa-font-path = "../fonts"
@import "font-awesome-stylus";

body{font-size: 1.5em;}

img.avatar {border-radius: 20%;}

td > img.avatar {
max-height: 30px;
}
