@import "bootstrap.css"
// @import "bootstrap-select.css"
@import "bootstrapValidator.css"
@import "bootstrap-editable.css"
@import "dataTables.bootstrap.css"

td > img.avatar {
max-height: 30px;
border-radius: 5px;
}
