{{ define "title" }}Clients{{ end }}
{{ define "head" }}
{{ end }}
{{ define "content" }}

    <h4>All clients:</h4>
      <table class="table">
          <tr>
              <th>name</th>
              <th>client_id</th>
              <th>client_secret</th>
              <th>redirect_uri</th>
              <th>grant_types</th>
              <th>response_types</th>
              <th>scopes</th>
              <th>created</th>
          </tr>
          {{ range .clients }}
          <tr>
              <td><span class="editable" data-name="name" data-type="text" data-pk="{{ .ID }}" data-title="Enter name">{{ .GetName }}</span></td>
              <td>{{ .ID }}</td>
              <td><span class="editable" data-name="secret" data-type="text" data-pk="{{ .ID }}" data-title="Enter a new secret">{{ .Secret }}</span></td>
              <td><span class="editable" data-name="redirect_uri" data-type="url" data-pk="{{ .ID }}" data-title="Enter a new url">{{ .RedirectURI }}</span></td>
              <td>{{ .GetGrantTypes }}</td>
              <td>{{ .GetResponseTypes }}</td>
              <td>{{ .GetScopes }}</td>
              <td class="pretty" title="{{ .CreatedAt }}">{{ .CreatedAt }}</td>
          </tr>
          {{ end }}
      </table>

<h4>Creating new client:</h4>
<div class="row">
<div class="col-xs-10 col-md-6">
    <div id="msg" class="alert" style="display:none;" role="alert"></div>
    <table id="user" class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td width="40%">Name</td>
                <td><a href="#" class="myeditable" id="new_name" data-type="text" data-name="name" data-original-title="Enter name"></a></td>
            </tr>
            <!-- <tr>
                <td>Client ID (Unique)</td>
                <td><a href="#" class="myeditable" id="new_code" data-type="select" data-name="code" data-original-title="Enter Client ID"></a></td>
            </tr>
            <tr>
                <td>Client Secret</td>
                <td><a href="#" class="myeditable" id="new_secret" data-type="select" data-name="secret" data-original-title="Enter Client Secret"></a></td>
            </tr> -->
            <tr>
                <td>Redirect URI</td>
                <td><a href="#" class="myeditable" data-type="url" data-name="redirect_uri" data-original-title="Enter a URL for client"></a></td>
            </tr>
        </tbody>
    </table>
    <div>
    <button id="save-btn" class="btn btn-primary">Save new!</button>
    <button id="reset-btn" class="btn pull-right">Reset</button>
    </div>
</div>
</div>
{{ end }}
{{ define "tail" }}
  <script type="text/javascript">
    var action_url = '{{ .ctx.Request.RequestURI }}', code_cached = [], secret_cached = []
    function regen_code () {
      for (var i = 0; i < 10; i++) {
        var p = Password.generate(12)
        code_cached[i] = {value: p, text: p}
      };
    }
    function regen_secret () {
      for (var i = 0; i < 10; i++) {
        var p = Password.generate(20)
        secret_cached[i] = {value: p, text: p}
      };
    }

    regen_code();
    regen_secret();

      jQuery(document).ready(function () {
        $(".pretty").prettyDate();
        // $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.url = action_url;
        $('.editable').editable();
        // TODO: add selectable allows

           //init editables
   $('.myeditable').editable({
      url: action_url,
      placement: 'right'
   });

   //make name required
   $('#new_name').editable('option', 'validate', function(v) {
       if(!v) return 'Required field!';
   });

   $('#new_code').editable('option', 'source', code_cached);
   $('#new_secret').editable('option', 'source', secret_cached);

   //automatically show next editable
   $('.myeditable').on('save.newuser', function(){
       var that = this;
       setTimeout(function() {
           $(that).closest('tr').next().find('.myeditable').editable('show');
       }, 200);
   });

   //create new user
   $('#save-btn').click(function() {
       $('.myeditable').editable('submit', {
           url: action_url + '?op=new',
           ajaxOptions: {
               dataType: 'json' //assuming json response
           },
           success: function(res, config) {console.log && console.log(res)
               if(res && res.id) {  //record created, response like {"id": 2}
                   //set pk
                   $(this).editable('option', 'pk', res.id);
                   //remove unsaved class
                   $(this).removeClass('editable-unsaved');
                   //show messages
                   var msg = 'New client created! Now editables submit individually.';
                   $('#msg').addClass('alert-success').removeClass('alert-danger').html(msg).show();
                   $('#save-btn').hide();
                   $(this).off('save.newuser');
                  regen_code();
                  regen_secret();

               } else if(res && res.error){
                   //server-side validation error, response like {"error": {"username": "username already exist"} }
                   config.error.call(this, res.error);
               }
           },
           error: function(error) {
               var msg = '';
               if(error && error.message) { //ajax error, error = xhr object
                   msg = error.message;
               } else { //validation error (client-side or server-side)
                   $.each(error, function(k, v) { msg += k+": "+v+"<br>"; });
               }
               $('#msg').removeClass('alert-success').addClass('alert-danger').html(msg).show();
           }
       });
   });

   //reset
   $('#reset-btn').click(function() {
       $('.myeditable').editable('setValue', null)
                       .editable('option', 'pk', null)
                       .removeClass('editable-unsaved');

       $('#save-btn').show();
       $('#msg').hide();
   });
      });
  </script>
{{ end }}
