{{ define "title" }}Contact list{{ end }}

{{ define "head" }}
{{ end }}

{{ define "content" }}
{{ $isKeeper := and ( .ctx.User ) ( .ctx.User.IsKeeper ) }}
<table class="table table-striped">
	<tr>
		<th>Uid</th>
		<th>CN</th>
		<th>Email</th>
		{{if $isKeeper }}<th>Mobile</th>{{ end }}
		<th>Nickname</th>
	</tr>
	{{ range .staffs }}
	<tr>
		<td>{{ .Uid }}</td>
		<td>{{ .CommonName }}</td>
		<td>{{ .Email }}</td>
		{{if $isKeeper }}<td>{{ .Mobile }}</td>{{ end }}
		<td>{{ .Name }}</td>
	</tr>
	{{ end }}
</table>
{{ end }}

{{ define "tail" }}
{{ end }}
