{{ define "title" }}Contact list{{ end }}

{{ define "head" }}
{{ end }}

{{ define "content" }}
{{ $isKeeper := and ( .currUser ) ( .currUser.IsKeeper ) }}
{{ $base := .base }}
<table id="contacts" class="table table-striped" data-order='[[ 1, "asc" ]]' data-page-length='25'>
<thead>
	<tr>
		<th>No</th>
		<th>Uid</th>
		<th>CN</th>
		<th>Email</th>
		{{if $isKeeper }}<th>Mobile</th>{{ end }}
		<th>Nickname</th>
	</tr>
</thead>
<tbody>{{ range .staffs }}
	<tr>
		<td class="text-right">{{ .EmployeeNumber }}</td>
		<td>{{ .Uid }}{{if $isKeeper }}
		<a href="{{$base}}staff/{{ .Uid }}"><i class="glyphicon glyphicon-pencil"></i></a>
		{{ end }}</td>
		<td>{{ .CommonName }}</td>
		<td>{{ .Email }}</td>
		{{if $isKeeper }}<td>{{ .Mobile }}</td>{{ end }}
		<td> {{avatarHtml .AvatarPath }} {{ .Name }}</td>
	</tr>
	{{ end }}</tbody>
</table>

	{{if $isKeeper }}<div>
	<a class="btn btn-default" href="{{.base}}staff/new" role="button">New Staff</a>
	<!-- <span class="label label-success">Total: {{ len .staffs }}</span> -->
	</div>{{ end }}
{{ end }}

{{ define "tail" }}
	<script>
		$(document).ready(function() {
	    $('#contacts').DataTable();
		});
	</script>
{{ end }}
