{{ define "title" }}Contact list{{ end }}

{{ define "head" }}
{{ end }}

{{ define "content" }}
{{ $isKeeper := and ( .ctx.User ) ( .ctx.User.IsKeeper ) }}
<table class="table table-striped">
	<tr>
		<th>No</th>
		<th>Uid</th>
		<th>CN</th>
		<th>Email</th>
		{{if $isKeeper }}<th>Mobile</th>{{ end }}
		<th>Nickname</th>
	</tr>
	{{ range .staffs }}
	<tr>
		<td class="text-right">{{ .EmployeeNumber }}</td>
		<td>{{ .Uid }}{{if $isKeeper }}
		<a href="/staff/{{ .Uid }}"><i class="glyphicon glyphicon-pencil"></i></a>
		{{ end }}</td>
		<td>{{ .CommonName }}</td>
		<td>{{ .Email }}</td>
		{{if $isKeeper }}<td>{{ .Mobile }}</td>{{ end }}
		<td>{{ .Name }}</td>
	</tr>
	{{ end }}
</table>

	{{if $isKeeper }}<div>
	<a class="btn btn-default" href="/staff/new" role="button">New Staff</a>
	</div>{{ end }}
{{ end }}

{{ define "tail" }}
{{ end }}
