{{ define "title" }}Login{{ end }}
{{ define "head" }}
{{ end }}

{{ define "content" }}

    <form class="form-horizontal" id="form1" method="post" action="{{ .ctx.Request.RequestURI }}" data-toggle="validator" role="form">
      <div class="form-group has-feedback">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10 col-md-8">
          <input type="text" class="form-control" name="username" id="username" placeholder="Username" pattern="^[a-z][a-z0-9@_-]{2,}$" minlength="3" maxlength="24" data-bv-trigger="keyup" data-bv-notempty-message="用户名不能为空" data-bv-regexp-message="用户名只能使用英文" data-remote-error="用户名或密码错误" required autofocus>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10 col-md-8">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" data-bv-notempty-message="密码不能为空" data-remote-error="用户名或密码错误" required>
        </div>
      </div>
      <div class="form-group has-feedback">
        <div class="col-sm-offset-2 col-sm-10 col-md-8">
          <label><input type="checkbox" name="remember" value="remember-me"> Remember me </label>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="hidden" name="referer" value="{{ .referer }}">
          <button type="submit" class="btn btn-default">Submit</button>
          <span class=""><a class="btn btn-link" href="{{.base}}password/forgot">forgot password?</a></span>
        </div>
      </div>
    </form>

{{ end }}

{{ define "tail" }}

  <script type="text/javascript">
    var lastUid = localStorage['lastUid'];
    function disableInput(ok) {
      $(':input.form-control,button[type=submit]').prop('disabled', ok?true:false);
      $('button[type=submit]').text(ok?'Waiting':'Submit')
    }
      jQuery(document).ready(function () {
        $("#username").val(lastUid);
        $('#form1')
        .bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    // message: 'The username is not valid',
                    validators: {
                        notEmpty: true,
                        stringLength: {
                            min: 4,
                            max: 30,
                            // message: 'The username must be more than 4 and less than 30 characters long'
                        },
                        /*remote: {
                            url: 'remote.php',
                            message: 'The username is not available'
                        },*/
                        // regexp: {
                        //     regexp: /^[a-zA-Z0-9_\.]+$/,
                        //     message: '用户名只能使用英文字母'
                        // },
                        callback: {
                          callback: function(value, validator) {return true;}
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: true,
                        callback: {
                          callback: function(value, validator) {return true;}
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            var data = $form.serialize()
            disableInput(true);

            function fail(res) {
              disableInput(false);
              if (typeof res.error != "undefined") {
                var error = res.error
                if (typeof error.field === "string") {
                  bv.updateMessage(error.field, 'callback', error.message);
                  bv.updateStatus(error.field, bv.STATUS_INVALID, 'callback');
                  // Dust.alert(error.message);
                }
              } else {
                alertAjaxResult(res);
              }
            }

            function done(res) {
              // console.log(res);
              if (!!res.ok) {
                localStorage['lastUid'] = $("#username").val();
                bv.updateMessage('password', 'callback', 'Ok');
                bv.updateStatus('password', bv.STATUS_VALID, 'callback');
                var timer;
                timer = setTimeout(function(){
                  bv.resetForm(true);
                  // $("#form1").get(0).reset();
                  var ref = '/';
                  if (typeof res.referer == 'string') {
                    ref = res.referer;
                  }
                  if (ref == "") ref = "/";
                  clearTimeout(timer)
                  location.href = ref;
                }, 500);
              } else {
                // console.log(res);
                fail(res)
              }
            }

            // Use Ajax to submit form data
            $.post($form.attr('action'), data, done, 'json').fail( function(e) {
              console.log(e);
              res = e.responseJSON
              fail(res)
            });
            // console.log(bv)
        });

      });
  </script>
{{ end }}

