{{ define "title" }}Change Password{{ end }}
{{ define "head" }}
{{ end }}
{{ define "content" }}

    <form class="form-horizontal" id="form1" method="post" action="/password">
      <div class="form-group">
        <label for="orgPassword" class="col-sm-2 control-label">Old Password</label>
        <div class="col-sm-10 col-md-8">
          <input type="password" class="form-control" name="old_password" id="orgPassword" placeholder="Old Password" data-bv-notempty-message="请输入旧密码" required>
        </div>
      </div>
      <div class="form-group" id="pwd-container">
        <label for="newPassword" class="col-sm-2 control-label">New Password</label>
        <div class="col-sm-10 col-md-8">
          <input type="password" class="form-control" name="new_password" id="newPassword" placeholder="New Password" minlength="8" maxlength="30" data-bv-notempty-message="请输入新密码" data-bv-different-field="old_password" data-bv-different-message="请换一个密码" required>
          <div class="pwstrength_viewport_progress"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="password2" class="col-sm-2 control-label">Repeat Password</label>
        <div class="col-sm-10 col-md-8">
          <input type="text" class="form-control" name="password2" id="password2" placeholder="Repeat Password"  data-bv-identical="true" data-bv-identical-field="new_password" data-bv-identical-message="两次密码不一样" data-bv-trigger="keyup" data-bv-notempty-message="密码不能为空" required autofocus>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-md-8">

        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>

  </div>

{{ end }}

{{ define "tail" }}
  <script type="text/javascript">
      jQuery(document).ready(function () {
          "use strict";
          var options = {};
          options.ui = {
              container: "#pwd-container",
              verdicts: [
                  "<span class='glyphicon glyphicon-warning-sign'></span> 太弱了",
                  "<span class='glyphicon glyphicon-warning-sign'></span> 一般般",
                  "还行吧",
                  "<span class='glyphicon glyphicon-ok-sign'></span> 强",
                  "<span class='glyphicon glyphicon-ok-sign'></span> 很强"],
              showVerdictsInsideProgressBar: true,
              viewports: {
                  progress: ".pwstrength_viewport_progress"
              }
          };
          options.common = {
              debug: true,
              onLoad: function () {
                  $('#messages').text('Start typing password');
              }
          };

          $('#newPassword').pwstrength(options);

        $('#form1')
        .bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: 'The username is not valid',
                    validators: {
                        // notEmpty: {
                        //     message: 'The username is required and can\'t be empty'
                        // },
                        // stringLength: {
                        //     min: 4,
                        //     max: 30,
                        //     message: 'The username must be more than 4 and less than 30 characters long'
                        // },
                        /*remote: {
                            url: 'remote.php',
                            message: 'The username is not available'
                        },*/
                        // regexp: {
                        //     regexp: /^[a-zA-Z0-9_\.]+$/,
                        //     message: 'The username can only consist of alphabetical, number, dot and underscore'
                        // },
                        callback: {
                          callback: function(value, validator) {return true;}
                        }
                    }
                },
                old_password: {
                    validators: {
                        // notEmpty: {
                        //     message: 'The old password is required and can\'t be empty'
                        // },
                        callback: {
                          callback: function(value, validator) {return true;}
                        }
                    }
                },
                new_password: {
                    validators: {
                        // notEmpty: {
                        //     message: 'The password is required and can\'t be empty'
                        // },
                        callback: {
                          callback: function(value, validator) {return true;}
                        },
                        different: {
                            field: 'old_password',
                            message: '请换一个密码'
                        }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(res) {
                // console.log(res);
                if (!!res.ok) {
                  Dust.alert('修改成功', 'OK', function(){
                    bv.resetForm(true);
                    // $("#form1").get(0).reset();
                    location.href = '/login';
                  });
                } else if (typeof res.error != "undefined") {
                  var error = res.error
                  if (typeof error.field === "string") {
                    bv.updateMessage(error.field, 'callback', error.message);
                    bv.updateStatus(error.field, bv.STATUS_INVALID, 'callback');
                    // Dust.alert(error.message);
                  }
                } else {
                  alertAjaxResult(res);
                }
            }, 'json');
            console.log('bv', bv)
        });

      });
  </script>
{{ end }}
