{{ define "title" }}Staff{{ end }}
{{ define "head" }}
{{ end }}
{{ define "content" }}

  <form class="form-horizontal" id="form1" method="post" action="{{ .ctx.Request.RequestURI }}">

    <div class="form-group">
        <label class="col-xs-3 control-label">Login (Unique)</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" name="uid" id="uid" value="{{ .staff.UID }}" placeholder="Login" required {{ if .inEdit }}readonly{{ end }} />
            {{ .staff.UID }} (eid <span id="eid">{{ .staff.EmployeeNumber }}</span>)
        </div>
        <div class="col-xs-2">
            {{if .exmail }}<a class="btn btn-default btnFetch" href="javascript:void(0);" id="fetchExmail" title="fetch from exmail"><i class="glyphicon glyphicon-envelope"></i></a>{{ end }}
            {{if .exwechat }}<a class="btn btn-default btnFetch" href="javascript:void(0);" id="fetchExwechat" title="fetch from wechat"><i class="fa fa-weixin">从微信</i></a>{{ end }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Common name</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="cn" value="{{ .staff.CommonName }}" placeholder="姓名" id="CommonName" />
        </div>
    </div>

      <div class="form-group">
        <label class="col-xs-3 control-label">English name</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" name="gn" placeholder="Given name" title="Given name" value="{{ .staff.GivenName }}" required />
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" name="sn" placeholder="Surname" title="Surname" value="{{ .staff.Surname }}" required />
        </div>
      </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Nickname</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="nickname" value="{{ .staff.Nickname }}" placeholder="Nickname"  />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Email address</label>
        <div class="col-xs-6">
            <input type="email" class="form-control" name="email" value="{{ .staff.Email }}" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Mobile phone</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="mobile" value="{{ .staff.Mobile }}" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Employee Number</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="eid" value="{{ .staff.EmployeeNumber }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Employee Title</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="etype" value="{{ .staff.EmployeeType }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Gender</label>
        <div class="col-xs-6">
            <label class="radio-inline">
              <input type="radio" name="gender" id="gender-male" value="1"> Male
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" id="gender-female" value="2"> Female
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" id="gender-unknown" value="0"> Unknown
            </label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Date of birth</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="birthday" value="{{ .staff.Birthday }}" placeholder="Date of birth, yyyymmdd" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Description</label>
        <div class="col-xs-6">
            <textarea name="description" class="form-control">{{ .staff.Description }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-4 col-xs-offset-3">
        <input type="hidden" name="op" value="store">
            <button type="submit" class="btn btn-primary"> Save </button>
        </div>
        {{ if .inEdit }}
        <div class="col-xs-2 col-xs-offset-1">
            <button type="button" class="btn btn-danger" id="btnDelete"> Delete </button>
        </div>{{ end }}
    </div>

  </form>

{{ end }}
{{ define "tail" }}
  <script type="text/javascript">
      jQuery(document).ready(function () {
        $('#gender-{{.staff.Gender}}').attr('checked', true);
        $("a.btnFetch").click(function(e){
            var uid = $("#uid").val()
            var src = 'mail'
            console.log(e)
            if (e.target.id == 'fetchExwechat') {src = 'wechat'}
            console.log("searching for uid:", uid)
            $.post(location.pathname + '?op=fetch-ex',{uid:uid,src:src},function(res,status,xhr){
                console.log(res,status)
                var staff = res.staff
                $("#CommonName").val(staff.cn)
                $("input[name=email]").val(staff.email)
                $("input[name=sn]").val(staff.sn)
                $("input[name=gn]").val(staff.gn)
                $("input[name=mobile]").val(staff.mobile)
                if (typeof staff.eid === "string") {
                    $("input[name=eid]").val(staff.eid)
                }
                if (typeof staff.etype === "string") {
                    $("input[name=etype]").val(staff.etype)
                }

            },'json').fail(function(res) {
                // console.log( res )
                alertAjaxResult( res );
              })
        })


        $('#form1')
        .bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            }
        })
        .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(res) {
                // console.log(res);
                if (!!res.ok) {
                  Dust.alert('Save successfully', 'OK', function(){
                    var ref = '/';
                    if (typeof res.referer == 'string') {
                      ref = res.referer;
                    }
                    location.href = ref;
                  });
                } else if (typeof res.error != "undefined") {
                  var error = res.error
                  if (typeof error.field === "string") {
                    bv.updateMessage(error.field, 'callback', error.message);
                    bv.updateStatus(error.field, bv.STATUS_INVALID, 'callback');
                    // Dust.alert(error.message);
                  }
                } else {
                  alertAjaxResult(res);
                }
            }, 'json');
            // console.log(bv)
        });

        function deleteUser(uid) {
            // console.log(self.location.href)
            var url =
            $.ajax({
                url: self.location.href,
                method: 'DELETE',
                dataType: 'json'
            }).done(function(res) {
               // console.log(res)
               if (!!res.ok) {
                  Dust.alert('Delete done', 'OK', function(){
                    var ref = '/contacts';
                    if (typeof res.referer == 'string') {
                      ref = res.referer;
                    }
                    location.href = ref;
                  });
                } else {
                    var msg = ""
                    if (typeof res.error != "undefined") {
                        msg += "\n错误：" + dump(res.error);
                    }
                    Dust.alert(msg, "Failed", function(){
                        location.reload()
                    })
                }
            });
        }
        $("#btnDelete").click(function(e) {
            // e.preventDefault();
            var cn = $("#CommonName").text()
            Dust.confirm("Delete a user", "Are you sure to DELETE this user:\n\n<strong>"+cn+"</strong> ?", function(e) {
                var uid = $('#uid').val()
                // console.log(uid)
                deleteUser(uid)
                return false
            })
        })
      });
  </script>
{{ end }}
