{{ define "title" }}Index{{ end }}
{{ define "head" }}
{{ end }}
{{ define "content" }}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>第三部分</h1>
        <p>　　我一直往前走，穿越眼前一望无际的沼泽地；松软的泥土在我脚下陷落，灯心草带着轻声叹息分泌出滴滴水珠；太阳斜落在天涯，远处是平原，是海；群山后面总有一个天涯，每天傍晚太阳要落下。自从我丢了指南针，自从我迷失在这块单调的土地上，不知日期，不知时间，已经过去好多年了。我忘了我的过去，而我的未来，就是这大片无边无际、直伸天空的平原。我的两脚探索着大地，期望找到几块硬土来安放我的睡铺，这时我瞥见远处有一条玫瑰色大水洼，我走近去。在灯心革与乱草之间有一条蜿蜒曲折的长河。</p>
        <p>　　一百年前，甚至五十年前，我内心或许会激动；我会想：是我发现了一条大河，唯有我探到了这个秘密。现在，玫瑰色的天空冷冰冰的倒映在河面上；我想到的只是：夜深了，这条河我没法过了。遇到一块初寒冻硬的土地，我立刻扔下背囊，取出皮褥子；然后，我举起斧子，朝一根树桩砍去，捡了一堆木柴，点燃了火。每天晚上，我点燃一堆火，为的是在黑夜中，尽管我自身心如枯槁，还有这个劈劈啪啪的声音、这个气味、这个燃烧通红的生命，从地上升向天空。河流是那么静，连水声也听不到一点。

        </p>
      </div>

{{ end }}
{{ define "tail" }}
{{ end }}
